/*--------core-------*/
nav{
	background-color: lightBlue;
	clear: left;
	display: inline-block;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px 20px;
}

#animation_blocks article{
	display:inline-block;
	width:400px;
	height:200px;
	background-color:hotpink;
	margin-left:20px;
	float:left;
	position:relative;
}
#left_to_right_article{
	background-color:linen;
}
#right_to_left_article{
	background-color:grey;
}

/*----------dynamic creations--------*/
.my_circle{
	display:inline-block;
	position:absolute;
	top:10px;
	left:10px;
	border-radius:40px;
	border:2px solid lime;
	background-color:yellowgreen;
	width:30px;
	height:30px;
}
.my_circle.move_me{
	-moz-animation: moveFunction 0.3s;
	-moz-transition: background 0.3s linear 0.2s;
	/*use other flags for other browsers too*/
	background-color:red;
}

#right_to_left_article .my_circle{
	left: auto;
	right: 10px;
}